In [1]:
!pip install psycopg2
!pip install pandas
!pip install --trusted-host pypi.org ipython-sql

Requirement already satisfied: psycopg2 in c:\osgeo4~1\apps\python37\lib\site-packages (2.8.5)
Requirement already satisfied: pandas in c:\osgeo4~1\apps\python37\lib\site-packages (1.0.1)
Requirement already satisfied: numpy>=1.13.3 in c:\osgeo4~1\apps\python37\lib\site-packages (from pandas) (1.18.1)
Requirement already satisfied: python-dateutil>=2.6.1 in c:\osgeo4~1\apps\python37\lib\site-packages (from pandas) (2.8.1)
Requirement already satisfied: pytz>=2017.2 in c:\osgeo4~1\apps\python37\lib\site-packages (from pandas) (2019.3)
Requirement already satisfied: six>=1.5 in c:\osgeo4~1\apps\python37\lib\site-packages (from python-dateutil>=2.6.1->pandas) (1.14.0)
Requirement already satisfied: ipython-sql in c:\osgeo4~1\apps\python37\lib\site-packages (0.3.9)
Requirement already satisfied: prettytable in c:\osgeo4~1\apps\python37\lib\site-packages (from ipython-sql) (0.7.2)
Requirement already satisfied: sqlparse in c:\osgeo4~1\apps\python37\lib\site-packages (from ipython-sql) (0.3.1)
Requirement already satisfied: ipython>=1.0 in c:\osgeo4~1\apps\python37\lib\site-packages (from ipython-sql) (7.13.0)
Requirement already satisfied: ipython-genutils>=0.1.0 in c:\osgeo4~1\apps\python37\lib\site-packages (from ipython-sql) (0.2.0)
Requirement already satisfied: sqlalchemy>=0.6.7 in c:\osgeo4~1\apps\python37\lib\site-packages (from ipython-sql) (1.3.16)
Requirement already satisfied: six in c:\osgeo4~1\apps\python37\lib\site-packages (from ipython-sql) (1.14.0)
Requirement already satisfied: pygments in c:\osgeo4~1\apps\python37\lib\site-packages (from ipython>=1.0->ipython-sql) (2.5.2)
Requirement already satisfied: colorama; sys_platform == "win32" in c:\osgeo4~1\apps\python37\lib\site-packages (from ipython>=1.0->ipython-sql) (0.4.3)
Requirement already satisfied: backcall in c:\osgeo4~1\apps\python37\lib\site-packages (from ipython>=1.0->ipython-sql) (0.1.0)
Requirement already satisfied: prompt-toolkit!=3.0.0,!=3.0.1,<3.1.0,>=2.0.0 in c:\osgeo4~1\apps\python37\lib\site-packages (from ipython>=1.0->ipython-sql) (3.0.5)
Requirement already satisfied: setuptools>=18.5 in c:\osgeo4~1\apps\python37\lib\site-packages (from ipython>=1.0->ipython-sql) (45.2.0)
Requirement already satisfied: jedi>=0.10 in c:\osgeo4~1\apps\python37\lib\site-packages (from ipython>=1.0->ipython-sql) (0.17.0)
Requirement already satisfied: traitlets>=4.2 in c:\osgeo4~1\apps\python37\lib\site-packages (from ipython>=1.0->ipython-sql) (4.3.3)
Requirement already satisfied: decorator in c:\osgeo4~1\apps\python37\lib\site-packages (from ipython>=1.0->ipython-sql) (4.4.1)
Requirement already satisfied: pickleshare in c:\osgeo4~1\apps\python37\lib\site-packages (from ipython>=1.0->ipython-sql) (0.7.5)
Requirement already satisfied: wcwidth in c:\osgeo4~1\apps\python37\lib\site-packages (from prompt-toolkit!=3.0.0,!=3.0.1,<3.1.0,>=2.0.0->ipython>=1.0->ipython-sql) (0.1.9)
Requirement already satisfied: parso>=0.7.0 in c:\osgeo4~1\apps\python37\lib\site-packages (from jedi>=0.10->ipython>=1.0->ipython-sql) (0.7.0)

In [2]:
import psycopg2
import pandas as pd
import sqlalchemy
import matplotlib as plt

%matplotlib inline

In [4]:
from sqlalchemy import create_engine

# Postgres username, password, and database name
POSTGRES_ADDRESS = 'localhost' 
POSTGRES_USERNAME = 'marcelo' 
POSTGRES_PASSWORD = '1234' 
POSTGRES_DBNAME = 'sig'
# A long string that contains the necessary Postgres login information
postgres_str = ('postgresql://{username}:{password}@{ipaddress}/{dbname}'.format(username=POSTGRES_USERNAME, password=POSTGRES_PASSWORD, ipaddress=POSTGRES_ADDRESS, dbname=POSTGRES_DBNAME))
print (postgres_str)

# Create the connection
cnx = create_engine(postgres_str)

postgresql://marcelo:1234@localhost/sig

In [5]:
pd.read_sql_query('''SELECT * FROM "covid-pt-2020-04-26 confirmados_concelho" LIMIT 5;''', cnx)

,id,fid,dico,concelho,24/03/2020,25/03/2020,26/03/2020,27/03/2020,28/03/2020,29/03/2020,...,06/05/2020,07/05/2020,08/05/2020,09/05/2020,10/05/2020,11/05/2020,12/05/2020,13/05/2020,14/05/2020,15/05/2020
0,1,1,1402,ALCANENA,None,None,None,None,NaN,NaN,...,None,None,None,None,None,None,None,None,None,None
1,2,2,1001,ALCOBAÇA,None,None,None,None,NaN,NaN,...,None,None,None,None,None,None,None,None,None,None
2,3,3,1804,CINFÃES,None,None,None,None,NaN,3.0,...,None,None,None,None,None,None,None,None,None,None
3,4,4,0503,COVILHÃ,None,None,None,None,NaN,NaN,...,None,None,None,None,None,None,None,None,None,None
4,5,5,1810,OLIVEIRA DE FRADES,None,None,None,None,3.0,7.0,...,None,None,None,None,None,None,None,None,None,None

In [8]:
pd.read_sql_query('''SELECT "concelho", "26/04/2020" FROM "covid-pt-2020-04-26 confirmados_concelho" LIMIT 5;''', cnx)

             concelho  26/04/2020
0            ALCANENA           7
1            ALCOBAÇA          27
2             CINFÃES           9
3             COVILHÃ           7
4  OLIVEIRA DE FRADES           8

In [10]:
pd.read_sql_query('''SELECT "concelho", "26/04/2020" FROM "covid-pt-2020-04-26 confirmados_concelho" WHERE concelho="BRAGA"  ;''', cnx)

ProgrammingError: (psycopg2.errors.UndefinedColumn) column "BRAGA" does not exist
LINE 1: ...t-2020-04-26 confirmados_concelho" WHERE concelho="BRAGA"  ;
                                                             ^

[SQL: SELECT "concelho", "26/04/2020" FROM "covid-pt-2020-04-26 confirmados_concelho" WHERE concelho="BRAGA"  ;]
(Background on this error at: http://sqlalche.me/e/f405)